<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
    <form method="post">
        <input type="email" placeholder="email" name="email">
        <br>
        <input type="text" placeholder="name" name="fullName">
        <br>
        <input type="number" placeholder="age" name="age">
        <br>
        <button>Add Employee</button>
    </form>
</body>
</html>