<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>    
    <a href="/">Home</a><br><br>
    <a href="/getemployees">Get Employees</a><br><br>
    <a href="/addemployee">Add Employees</a>
</body>
</html>